
h1 {
  font-size: 5rem; 
}


@media (max-width: 768px) {
  h1 {
    font-size: 5rem !important; 
  }
  button {
    width: 300px !important;
    height: 100px !important;
  }
}







.botonp {
        z-index: 999;
        position: absolute;
        left: 50%;
        top: 500px;
        transform: translateX(-50%);

        @media (max-width: 768px) {
            left: 50%;
            top: 50%; 
            transform: translate(-50%, -50%);
            margin-top: 75px;
             
          }
        
    }




 .nab{
    z-index: 999;
    position: absolute;
    
   

  
    
}